/* *********************************
           Variables
  ********************************** */
/* *********************************
   Some Style Overrides on Bootstrap
  ********************************** */
.navbar-inverse {
  background: rgba(62, 195, 246, 0);
  border-bottom: none;
}

.navbar-inverse .navbar-toggle {
  border: 1px solid #333;
  border-color: rgba(255, 255, 255, 0.7);
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
  border-color: transparent;
}
@media (max-width: 767px) {
  .navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    background: rgba(255, 255, 255, 0.75);
  }
}

.navbar-inverse .navbar-nav > li > a {
  color: black;
}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
  color: #22F;
}

/* *********************************
           Toolbar Logo
  ********************************** */
.small-logo-container {
  padding-top: 50px;
  height: 50px;
  overflow: hidden;
}

.small-logo {
  color: white;
  font-size: 2.5em;
  padding-bottom: 2px;
}

/* *********************************
           Big Logo
  ********************************** */
.big-logo-row {
  background: gold;
}
.big-logo-row .big-logo-container {
  padding-top: 50px;
}
.big-logo-row h1 {
  font-size: 4em;
  margin: 0;
  padding: 0 0 15px 0;
}
@media (min-width: 400px) {
  .big-logo-row h1 {
    font-size: 4.5em;
  }
}
@media (min-width: 440px) {
  .big-logo-row h1 {
    font-size: 5.5em;
  }
}
@media (min-width: 500px) {
  .big-logo-row h1 {
    font-size: 6.5em;
  }
}
@media (min-width: 630px) {
  .big-logo-row h1 {
    font-size: 7.5em;
  }
}
@media (min-width: 768px) {
  .big-logo-row h1 {
    font-size: 9em;
    padding-bottom: 30px;
  }
}
@media (min-width: 1200px) {
  .big-logo-row h1 {
    font-size: 12em;
  }
}

.toggle-wrap {
  padding: 10px;
  position: relative;
  cursor: pointer;
  float: left;

  /*disable selection*/
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.toggle-bar,
.toggle-bar::before,
.toggle-bar::after,
.toggle-wrap.active .toggle-bar,
.toggle-wrap.active .toggle-bar::before,
.toggle-wrap.active .toggle-bar::after {
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}
.toggle-bar {
  width: 38px;
  margin: 10px 0;
  position: relative;
  border-top: 6px solid #303030;
  display: block;
}
.toggle-bar::before,
.toggle-bar::after {
  content: "";
  display: block;
  background: #303030;
  height: 6px;
  width: 38px;
  position: absolute;
  top: -16px;
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -ms-transform-origin: 13%;
  -webkit-transform-origin: 13%;
  transform-origin: 13%;
}
.toggle-bar::after {
  top: 4px;
}
.toggle-wrap.active .toggle-bar {
  border-top: 6px solid transparent;
}
.toggle-wrap.active .toggle-bar::before {
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.toggle-wrap.active .toggle-bar::after {
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}