<!DOCTYPE html>
<html ng-app="routerApp">
<head>
    <meta charset="UTF-8">
    <title>BOOK MY EVENT</title>


    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">


    <link rel='stylesheet prefetch' href='https://netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.css'>
    <link rel="stylesheet" href="css/bootstrap.min.css">

    <link rel="stylesheet" href="css/style.css">
   <!-- <link rel="stylesheet" href="css/angular-flash.min.css">-->

    <script src="http://code.angularjs.org/1.2.13/angular.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.8/angular-ui-router.min.js"></script>

    <script src="//code.angularjs.org/1.4.0/angular.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular-messages.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-animate.js"></script>
    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-1.3.2.js"></script>

    <script src="js/index.js"></script>
    <script src="app/app.js"></script>
    <script src="app/controller.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/pace.min.js"></script>
    <!--<script src="js/angular-flash.min.js"></script>-->
    <link rel="stylesheet" type="text/css" href="css/footer..css">



</head>

<body style="padding-top: 70px" ng-controller="dashBoardController">

<nav class="navbar navbar-inverse navbar-fixed-top effect1">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">BOOK MY EVENT</a>
        </div>

        <ul class="nav navbar-nav navbar-right">
            <li><a ui-sref="home"><strong>HOME</strong></a></li>
            <li><a ui-sref="events"><strong>EVENTS</strong></a></li>
            <li><a ng-click="dashboardfn()"><strong>DASHBOARD</strong></a></li>
            <li ng-hide="isLogin"><a type="button" data-toggle="modal" data-target="#loginModal"><strong>{{menuLog}}</strong></a></li>
            <li>
<a>
                <form class="search-container" action="#">
                    <input id="search-box" type="text" class="search-box" name="q" />
                    <label for="search-box"><span class="glyphicon glyphicon-search search-icon"></span></label>
                    <input type="submit" id="search-submit" />
                </form></a>
            </li>
        </ul>
    </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<!--menu pages will be here-->
<div ui-view>

    </div>


<!--Login Modal -->

<div class="modal fade bs-modal-sm" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <br>
            <div class="bs-example bs-example-tabs">
                <ul id="myTab" class="nav nav-tabs">
                    <li class="active"><a href="#login" data-toggle="tab">Sign In</a></li>
                    <li class=""><a href="#signup" data-toggle="tab">Register</a></li>
                    <li class=""><a href="#why" data-toggle="tab">Why?</a></li>
                </ul>
            </div>
            <div class="modal-body">
                <div id="myTabContent" class="tab-content">
                    <div class="tab-pane fade in" id="why">
                        <p>We need this information so that you can receive access to the site and its content. Rest assured your information will not be sold, traded, or given to anyone.</p>
                        <p></p><br> Please contact admin@bookmyevents.com</a> for any other inquiries.</p>
                    </div>
                    <div class="tab-pane fade active in" id="login">
                        <form class="form-horizontal">
                            <fieldset>
                                <!-- Sign In Form -->
                                <!-- Text input-->
                                <div class="control-group">
                                    <label class="control-label" for="email"></span> Email</label>
                                    <div class="controls">
                                        <input ng-model="userid" id="email" name="email" type="email" class="form-control" placeholder="Email" class="input-medium" required="">
                                    </div>
                                </div>

                                <!-- Password input-->
                                <div class="control-group">
                                    <label class="control-label" for="passwordinput">Password</label>
                                    <div class="controls">
                                        <input ng-model="password" id="passwordinput" name="passwordinput" class="form-control" type="password" placeholder="********" class="input-medium">
                                    </div>

                                </div>



                                <!-- Button -->
                                <div class="control-group">
                                    <label class="control-label" for="login"></label>
                                    <div class="controls">
                                        <button ng-click="login(userid,password)" id="signin" name="signin" class="btn btn-success" data-dismiss="modal">Sign In</button>
                                    </div>
                                    <a uiref="#" >Forgot Password</a>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                    <div class="tab-pane fade" id="signup">
                        <form class="form-horizontal">
                            <fieldset>
                                <!-- Sign Up Form -->
                                <!-- Text input-->
                                <div class="control-group">
                                    <label class="control-label" for="Email">Email:</label>
                                    <div class="controls">
                                        <input id="Email" name="Email" class="form-control" type="text" placeholder="JoeSixpack@sixpacksrus.com" class="input-large" required="">
                                    </div>
                                </div>

                                <!-- Text input-->
                                <div class="control-group">
                                    <label class="control-label" for="userid">Alias:</label>
                                    <div class="controls">
                                        <input id="userid" name="userid" class="form-control" type="text" placeholder="JoeSixpack" class="input-large" required="">
                                    </div>
                                </div>

                                <!-- Password input-->
                                <div class="control-group">
                                    <label class="control-label" for="password">Password:</label>
                                    <div class="controls">
                                        <input id="password" name="password" class="form-control" type="password" placeholder="********" class="input-large" required="">
                                        <em>1-8 Characters</em>
                                    </div>
                                </div>

                                <!-- Text input-->
                                <div class="control-group">
                                    <label class="control-label" for="reenterpassword">Re-Enter Password:</label>
                                    <div class="controls">
                                        <input id="reenterpassword" class="form-control" name="reenterpassword" type="password" placeholder="********" class="input-large" required="">
                                    </div>
                                </div>

                                <!-- Multiple Radios (inline) -->
                                <br>
                                <div class="control-group">
                                    <label class="control-label" for="humancheck">Humanity Check:</label>
                                    <div class="controls">
                                        <label class="radio inline" for="humancheck-0">
                                            <input type="radio" name="humancheck" id="humancheck-0" value="robot" checked="checked">I'm a Robot</label>
                                        <label class="radio inline" for="humancheck-1">
                                            <input type="radio" name="humancheck" id="humancheck-1" value="human">I'm Human</label>
                                    </div>

                                </div>

                                <!-- Button -->
                                <div class="control-group">
                                    <label class="control-label" for="confirmsignup"></label>
                                    <div class="controls">
                                        <button id="confirmsignup" name="confirmsignup" class="btn btn-success">Sign Up</button>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <center>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </center>
            </div>
        </div>
    </div>
</div>

<!--footer-->

<footer class="footer1">
    <div class="container" style="color: #ffffff">

        <div class="row">&lt;!&ndash; row &ndash;&gt;

            <div class="col-lg-3 col-md-3">&lt;!&ndash; widgets column left &ndash;&gt;
                <ul class="list-unstyled clear-margins">&lt;!&ndash; widgets &ndash;&gt;

                    <li class="widget-container widget_nav_menu">&lt;!&ndash; widgets list &ndash;&gt;

                        <h1 class="title-widget">Useful links</h1>

                        <ul>
                            <li><a  href="#"><i class="fa fa-angle-double-right"></i> About Us </a></li>
                            <li><a  href="#"><i class="fa fa-angle-double-right"></i> Contact Us </a></li>
                            <li><a  href="#"><i class="fa fa-angle-double-right"></i>  Feedback </a></li>

                        </ul>

                    </li>

                </ul>


            </div>&lt;!&ndash; widgets column left end &ndash;&gt;



            <div class="col-lg-3 col-md-3">&lt;!&ndash; widgets column left &ndash;&gt;

                <ul class="list-unstyled clear-margins">&lt;!&ndash; widgets &ndash;&gt;

                    <li class="widget-container widget_nav_menu">&lt;!&ndash; widgets list &ndash;&gt;

                        <h1 class="title-widget">Useful links</h1>

                        <ul>
                            <li><a  href="#"><i class="fa fa-angle-double-right"></i>  Capgemini India Pvt. Ltd.</a></li>
                            <li><a  href="#"><i class="fa fa-angle-double-right"></i>  F.A.Q. </a></li>


                        </ul>

                    </li>

                </ul>


            </div>&lt;!&ndash; widgets column left end &ndash;&gt;





            <div class="col-lg-3 col-md-3">&lt;!&ndash; widgets column center &ndash;&gt;



                <ul class="list-unstyled clear-margins">&lt;!&ndash; widgets &ndash;&gt;

                    <li class="widget-container widget_recent_news">&lt;!&ndash; widgets list &ndash;&gt;


                        <div class="footerp">




                        </div>

                        <div class="social-icons">

                            <ul class="nomargin">

                                <a href="https://www.facebook.com"><i class="fa fa-facebook-square fa-3x social-fb" id="social"></i></a>
                                <a href="https://twitter.com"><i class="fa fa-twitter-square fa-3x social-tw" id="social"></i></a>
                                <a href="https://plus.google.com"><i class="fa fa-google-plus-square fa-3x social-gp" id="social"></i></a>
                                <a href="mailto:nitin.parbhakar@capgemini.com"><i class="fa fa-envelope-square fa-3x social-em" id="social"></i></a>

                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
<!--header-->
<div class="footer-bottom">

    <div class="container">

        <div class="row">

            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">

                <div class="copyright">

                    © 2016, Capgemini, All rights reserved

                </div>

            </div>

            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">

                <div class="design">


                </div>

            </div>

        </div>

    </div>

</div>


<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src='http://netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js'></script>

<script src="js/index.js"></script>



</body>
</html>
