<div class="page-header">
    <h1>Booking Page<span class="pull-right label label-default"></span></h1>
</div>
<div class="row"> <div class="col-md-6"><br><br><div class="col-md-6"><br><br></div></div></div>
<div class="container" ng-repeat="a in detailedEvent">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10 text-justify">
            <!--    for image n other details-->
            <div class="row">
                <div class="col-md-6">
                    <img data-ng-src="{{detailedEvent.album.photoCollections[0].photoUrl}}"  height="150" width="150" >
                </div>
                <div class="col-md-6">
                    <h2>{{a.event_name}}</h2><br>
                    <h4><span class="glyphicon glyphicon-map-marker"> </span>
                        <b>Venue:</b></h4> <h4> {{a.venue.venue_name}}, {{a.venue.venue_city}} </h4><br>

                    <h4><span class="glyphicon glyphicon-star"> </span>
                        <b>Rating:</b></h4> <h4>4.5</h4>

                </div>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
    <div class="col-md-5  well well-white" align="left">
        <h3>Hurry up!!! Book Your Ticket Now</h3>
        <table border="1">
            <tr>
                <th>Ticket Type</th>
                <th>Price</th>
                <th>Tickets available</th>
            </tr>
            <tr ng-repeat="ticket in detailedEvent.tickettype">
                <td class="text-center">{{ticket.ticketType}}</td>
                <td class="text-center">{{ticket.price}}</td>
                <td class="text-center">{{ticket.availableSeats}}</td>
            </tr>
        </table>
    </div>
    <!-- for description-->
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-6">
            <h3>Select Ticket Type:
                <select ng-model="selectedTicketType" ng-change = "getAmount(selectedTicketType,ticketCount)">
                    <option value="">-select-</option>
                    <!--<option ng-repeat="p in ticketType" value={{p.ticketType}}>{{p.ticketType}}</option>-->
                    <option value="{{a.price.price_gold}}">Gold</option>
                    <option value="{{a.price.price_silver}}">Silver</option>
                    <option value="{{a.price.price_platinum}}">Platinum</option>
                </select>
                <br><!--<div ng-if="a.silverCurrentCapacity>0">-->
                <div>
                    Number of Tickets:&nbsp;<select ng-model="ticketCount" ng-change="getAmount(selectedTicketType,ticketCount)">
                    <option value="">-select-</option>
                    <option value=1>1</option>
                    <option value=2>2</option>
                    <option value=3>3</option>
                    <option value=4>4</option>
                    <option value=5>5</option>
                </select>
                    <br>
                    <h3>Total Cost : {{amount}}</h3>
                    <!--<button ng-click="payNow()" class="btn btn-info">Pay Now</button>-->
                </div></h3>

            <button ng-click="payNow()" class="btn btn-info">Pay Now</button>
        </div>

        <div class="col-md-1"></div>
    </div>


</div>

