

<button class="btn-default" ui-sref="events"><strong>back</strong></button>
<div ng-repeat="g in event_data">
{{g.eventCertificate}}
{{g.eventDescription}}
{{g.eventTime}}
{{g.organiser.organiserName}}
{{g.performer.performerFirstName}}
{{g.performer.performerLastName}}</div>

<div class="container">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10 text-justify">
            <!--    for image n other details-->
            <div class="row">
                <div class="col-md-6">
                    <img data-ng-src="{{detailedEvent.album.photoCollections[0].photoUrl}}"  height="300" width="400" >
                </div>
                <div class="col-md-4 ">
                    <!--<h2>{{detailedEvent.eventId}}</h2><br>-->
                    <h2>{{detailedEvent.eventName}} </h2><br>
                    <h4><span class="glyphicon glyphicon-map-marker"> </span>
                        <b>Venue:</b></h4> <h4> Ramanbaug, Pune, India </h4><br>
                    <h4><span class="glyphicon glyphicon-star"> </span>
                        <b>Rating:</b></h4> <h4>{{detailedEvent.avgRating}}</h4>
                    <a ui-sref="bookNow" class="btn btn-info">Book Now</a>
                </div>
                <div class="col-md-2"><br><br><br><br><br><br>
                    <span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"> </span><span class="glyphicon glyphicon-star"> </span><span class="glyphicon glyphicon-star"> </span><span class="glyphicon glyphicon-star"> </span> &nbsp;&nbsp;{{ratingOf5}}<br>
                    <span class="glyphicon glyphicon-star"> </span><span class="glyphicon glyphicon-star"> </span><span class="glyphicon glyphicon-star"> </span><span class="glyphicon glyphicon-star"> </span>&nbsp;&nbsp;{{ratingOf4}}<br>
                    <span class="glyphicon glyphicon-star"> </span><span class="glyphicon glyphicon-star"> </span><span class="glyphicon glyphicon-star"> </span>&nbsp;&nbsp;{{ratingOf3}}<br>
                    <span class="glyphicon glyphicon-star"> </span><span class="glyphicon glyphicon-star"> </span>&nbsp;&nbsp;{{ratingOf2}}<br>
                    <span class="glyphicon glyphicon-star"> </span>&nbsp;&nbsp;{{ratingOf1}}
                </div>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
    <br><br>
    <!-- for description & Schedule-->
    <div class="row">
        <div class="col-md-1"></div>
        <div class=" col-md-6 text-justify"><!-- for description-->
            <h3 class="text-left">Description:</h3><br>
            <p>{{detailedEvent.description}}</p>
        </div>
        <div class="col-md-4 well well-lg"><!-- for Schedule-->
            <h3 align="center">Schedule</h3>
            <ul class="list-group">
                <li class="list-group-item" ng-repeat="timings in detailedEvent.schedule">
                    <span class="badge">{{timings.startTime}}</span>
                    <span class="badge">to</span>
                    <span class="badge">{{timings.endTime}}</span>
                    {{timings.date}}
                </li>
            </ul>
        </div>
        <div class="col-md-1"></div>
    </div>
    <br>
    <!--performers-->
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="col-md-4" ng-repeat="performer in detailedEvent.performer">
                <div  align="center">
                    <img class="img-circle" data-ng-src="{{performer.photoUrl}}" alt="Performer Image" width="200px" height="200px"><br>
                    <strong>{{performer.firstName}}&nbsp;&nbsp;&nbsp;{{performer.lastName}}</strong>
                </div>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>


    <!--Rating-->
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div ng-init="rating = 0"><h4>Give your Rating : <uib-rating ng-model="rating" ng-change="sendRating(rating)" max="5" state-on="'glyphicon-star'" state-off="'glyphicon-star-empty'" aria-labelledby="custom-icons-1"></uib-rating> <b>(<i>Rate:</i> {{rating}})</b></h4></div>
        </div>
    </div>
</div>

<!--comments-->
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <div class="post-comments">

            <form>
                <div class="form-group">
                    <label for="comment">Your Comment</label>
                    <textarea name="comment" id="comment" class="form-control" rows="3" ng-model="commentTextOnEvent" required></textarea>
                </div>
                <button type="submit" class="btn btn-default" ng-disabled="commentTextOnEvent.length==0" ng-click="commentOnEvent(detailedEvent.eventId,commentTextOnEvent)">Comment</button>
            </form>
            <br/>
            <strong>There are {{comments.length}} comments</strong>
            <br/>
            <div class="row" ng-repeat="c in comments">

                <div class="media">
                    <!-- first comment -->

                    <div class="media-heading">
                        <button class="btn btn-default btn-xs" type="button" data-toggle="collapse" data-target="#{{((comments.indexOf(c)+1)*12345)+2}}" aria-expanded="false" aria-controls="collapseExample"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span></button>
                    </div>

                    <div class="panel-collapse collapse in" id={{((comments.indexOf(c)+1)*12345)+2}}>

                        <!--  <div class="media-left">
                              <div class="vote-wrap">
                                  <div class="save-post">
                                      <a href="#"><span class="glyphicon glyphicon-star" aria-label="Save"></span></a>
                                  </div>
                                  <div class="vote up">
                                      <i class="glyphicon glyphicon-menu-up"></i>
                                  </div>
                                  <div class="vote inactive">
                                      <i class="glyphicon glyphicon-menu-down"></i>
                                  </div>
                              </div>
                              &lt;!&ndash; vote-wrap &ndash;&gt;
                          </div>-->
                        <!-- media-left -->


                        <div class="media-body">
                            <p><small><cite><i>@{{c.user.firstName}}</i></cite></small><br>{{c.commentText}}</p>
                            <div class="comment-meta">
              <span>
                        <span class="" role="button" data-toggle="collapse" href=#{{comments.indexOf(c)+1}} aria-expanded="false" aria-controls="collapseExample"><strong style="color:blue">Reply</strong></span>
                      </span>
                                <div class="collapse" id={{comments.indexOf(c)+1}}>
                                    <form>
                                        <div class="form-group">
                                            <label for="reply1">Your Reply</label>
                                            <textarea name="reply1" id="reply1" class="form-control" rows="3" ng-model="replyText1" required></textarea>
                                        </div>
                                        <button type="submit" class="btn btn-default"  ng-disabled="replyText1.length==0" ng-click="sendReply(c.commentId,replyText1)">Reply</button>
                                    </form>
                                </div>
                            </div>
                            <!-- comment-meta -->
                            Number of replies : {{c.replies.length}}
                            <div class="media">
                                <!-- answer to the first comment -->

                                <div class="media-heading">
                                    <button class="btn btn-default btn-collapse btn-xs" type="button" data-toggle="collapse" data-target=#{{((comments.indexOf(c)+2)*1000)+c.replies.indexOf(reply)+1}} aria-expanded="false" aria-controls="collapseExample"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span></button>
                                </div>

                                <div class="panel-collapse collapse in" id={{((comments.indexOf(c)+2)*1000)+c.replies.indexOf(reply)+1}}>

                                    <!-- <div class="media-left">
                                         <div class="vote-wrap">
                                             <div class="save-post">
                                                 <a href="#"><span class="glyphicon glyphicon-star" aria-label="Save"></span></a>
                                             </div>
                                             <div class="vote up">
                                                 <i class="glyphicon glyphicon-menu-up"></i>
                                             </div>
                                             <div class="vote inactive">
                                                 <i class="glyphicon glyphicon-menu-down"></i>
                                             </div>
                                         </div>
                                         &lt;!&ndash; vote-wrap &ndash;&gt;
                                     </div>-->
                                    <!-- media-left -->

                                    <div ng-repeat="reply in c.replies">
                                        <div class="media-body" >
                                            <p><small><cite><i>@{{reply.user.firstName}}</i></cite></small><br>{{reply.replyText}}</p>
                                            <!--<p>{{reply.user.firstName}}<br>{{reply.replyText}}</p>-->
                                            <div class="comment-meta">
                            <span>
                              <span class="" role="button" data-toggle="collapse" href=#{{((comments.indexOf(c)+1)*1000)+c.replies.indexOf(reply)}} aria-expanded="false" aria-controls="collapseExample"><strong style="color:blue">Reply</strong></span>
                            </span>
                                                <div class="collapse" id={{((comments.indexOf(c)+1)*1000)+c.replies.indexOf(reply)}}>
                                                    <form>
                                                        <div class="form-group">
                                                            <label for="reply2">Your Reply</label>
                                                            <textarea name="reply2" id="reply2" class="form-control" rows="3" ng-model="replyText2" required></textarea>
                                                        </div>
                                                        <button type="submit" class="btn btn-default" ng-disabled="replyText2.length==0" ng-click="sendReply(c.commentId,replyText2)">Reply</button>
                                                    </form>
                                                </div>
                                            </div>
                                            <!-- comment-meta -->
                                        </div>
                                    </div>
                                </div>
                                <!-- comments -->

                            </div>
                            <!-- answer to the first comment -->

                        </div>
                    </div>
                    <!-- comments -->

                </div>
                <!-- first comment -->
            </div>
        </div>
    </div>

    <div class="col-md-1"></div>
</div>
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10"><h4><b>Contact us :</b></h4></div>
    <div class="col-md-1"></div>
</div>

<div class="row" ng-repeat="contact in detailedEvent.contact">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <li><i>{{contact.contactType}} : {{contact.value}}</i></cite></small></li>
    </div>
    <div class="col-md-1">

    </div>
</div><!--container closed-->